body {
  background-color: #131313;
}

.header {
  font-family: Helvetica;
  color: #ffffff;
  text-align: left;
  margin-left: 40px;
  margin-top: 30px;
}

h3 {
  margin: 0;
}

.albumContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 40px;
  justify-content: space-between;
}

.album {
  width: 100%;
  margin-bottom: 30px;
}

.album img {
  width: 100%;
}

.album h1 {
  font-size: 14px;
  font-family: Helvetica;
  color: #ffffff;
  margin-bottom: 5px;
}

.artist li a {
  font-size: 14px;
  font-family: Helvetica;
  color: #a0a0a0;
}

.artist a:hover {
  text-decoration: underline;
  color: white;
}

a {
  text-decoration: none;
}

h1:hover  {
  text-decoration: underline;
  color: white;
}

.coverImage {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover {
  opacity: 1;
}

.play {
  max-width: 20%;
  width: 200px;
  height: auto;
  transition: .3s ease;
  fill: rgb(192, 192, 192);
}

.play:hover {
  max-width: 25%;
  fill: white;
}

.heart, .dots {
  max-width: 10%;
  width: 50px;
  height: auto;
  transition: .3s ease;
  fill: rgb(192, 192, 192);
}

.heart:hover, .dots:hover {
  max-width: 15%;
  fill: white;
}

.artist, .artist li {
  list-style-type: none; 
  padding-left: 0;
  display: inline;
}

.artist li:after { 
  content: ", ";
  color: #a0a0a0;
}

.artist li:last-child:after { content: "" }

@media (min-width: 768px) and (max-width: 1023px) {
  .album {
    width: 46%;
  }
}

@media (min-width: 1024px) {
  .album {
    width: 22%;
  }
}